<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="jumbotron">

        <div id="logo">
            <img class="logo" src="./image/huffpost.png" height="100" />
            <h1 class="display-4">Mongo Scraper</h1>
        </div>

    </div>
    <section>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="article-summary"> </div>
                    {{#each articles}}
                    <div class="card card-div">
                        <a href='{{link}}'><p>{{title}}</p></a>
                        <img style="width:200px;" src='{{image}}'>
                        <p class="summary-text">{{summary}}</p>
                        <p class="article-author">By: {{author}}</p>
                        <a href="http://localhost:3019/comments/{{_id}}">Write a Comment</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <br>
     <footer>
        <p>&copy; 2019 | Yan Davidson </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./app.js"></script>
</body>

</html>